<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
</head>
<body>
  <h2>Добавление товара</h2>
  <form method="POST">
    {% csrf_token %}
    <p>
      <label>Введите название товара</label><br>
      {{ form_add.name }}
    </p>
    <p>
      <label>Введите цену</label><br>
      {{ form_add.price}}
    </p>
    <p>
      <label>Введите компанию</label><br>
      {{ form_add.company }}
    </p>
    <input type="submit" value="Сохранить" />
  </form>
</body>
</html>